/* ====================================================================
ARQUIVO DE ESTILOS CSS - GUIA DIDÁTICO
======================================================================= */

/* Importando uma fonte externa do Google Fonts.
Isso permite usar tipograficas modernas que não vêm instaladas no PC do usuário.
[MDN Reference: @importa] - Procure no MDN para ver como importar folhas de estilo. */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

/* O seletor :root representa a raiz do documento (o HTML inteiro).
É o melhor lugar para criar "variáveis CSS", guardando valores que vamos repertir muito.com
[MDN Reference: :root e ---* (Custom properties)] */
:root {
    --bg-color: #285fd6; /* Variavel para cor de fundo principal */
    --card-bg: rgba(30, 41, 59, 0.7); /* Fundo com transparência (canal Alpha do rgba) par efeito vidro */
    --text-color: #161815; /* Cor do texto claro */
    --primary: #0b1018; /* Cor Azul vibrante (nossa cor primária) */
    --accent: #8b5cf6; /* Cor Roxo (Nossa cor de destaque) */
    --border-color: rgba(212, 183, 183, 0.1); /* Borda branca com apenas 10% de visibilidade */
    
}

header {

    display: grid;
    grid-template-columns: 25% 45% 30%;
    margin: 0;
    padding: 0;
    justify-content: center;
    color: #000;

}

.search {
    margin-top: 2rem;
    border-color: #8b5cf6;
    border-radius: 100%;
    border: 5px;
}


body {
    margin: 0;
    padding: 2rem;
    justify-content: center;
    
}


.cadastro {
    flex: 8;

}

.container {
  display: grid; /* Ativa o flexbox */
  grid-template-columns: 15% 85%;
  gap: 20px; /* Espaço entre as colunas */
} 

.coluna {

    flex-direction: column;
    gap: 10px;
    border-style: outset;
    border-radius: 20px;
    padding: 2rem;
    background: silver;
    line-height: 2.5rem;
  
}


.Produto{
    color: rgb(0, 132, 248);
    display: grid;
    grid-template-columns: 33%;
    margin-left: 10rem;

}

.button {
    color: #285fd6;
    box-sizing: border-box;
    border-color: #000;
    display: grid;
    grid-template-columns: (3, 1fr);
    
}
