
/* Inportando fontes personalizadas */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Seletor de todo conteúdo da página */
* {
    margin: 0.3rem;          /* Espaçamento das margens * - Medida relativa a tela em que for apresentado o app */
    padding: 0;              /* Espaçamento interno */
    box-sizing: border-box;  /* Box padrão de todo site */

}

hr { display: none; } /* Desabilita as tags <hr> */

        /*Seletor do corpo da página*/
body{

    background-color: #a5a38c;
    color: #021825;

    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
}

header {

    padding: 3rem;
    border: #afac8a;
;
    border-width: 0.4rem;
    border-style: solid;
    border-radius: 3rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 900;

}

/* Caso seja necessário atribuir propriedades em um elemento específico dentre outros usa-se identificadores ou classe */

/* p.parheader {}*/

main{

    padding: 3rem;
    font-size: larger;
    color: rgb(250, 2, 2);
    display: flex;             /* Alinhamento horizontal dos filhos */
    flex-direction: column;    /* Alinhamento vertical dos filhos */
    gap: 2rem;


}

section{

    display: flex;
    flex-direction: column;
    gap: 2rem;


}

p.introdução{

    font-size: 1.3rem;
    line-height: 1.5;
    text-align: justify;
    color: #021825;
    padding: 1.5rem;
    background-color: azure;
    border-left: 1rem solid;
}